################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/rajupalem bookstore/.vs
/rajupalem bookstore/bin/Debug/net6.0
/rajupalem bookstore/obj
/book1/.vs/book1/v17
/book1/obj
